@attribute [Authorize(Roles = "Administrator")]
@page "/ContractList"
@using DataAccessLibrary.Interfaces;
@using DataAccessLibrary.Models;
@using System.Reflection;
@using EntityFrameWorkDataAccess.Models;
@using EntityFrameWorkDataAccess;
@inject DatabaseService dbService
@inject IContractData _dbc
@inject IUserData _dbu
@inject NavigationManager navMan


<RadzenDataGrid  Context="item" Data="@this.contracts" TItem="tbContract" AllowVirtualization="true" Style="height:800px"
                AllowFiltering="false" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or"
                AllowSorting="false">
    <Columns>
        <RadzenDataGridColumn TItem="tbContract" Property="OrgName" Title="Název Organizace" />
        <RadzenDataGridColumn TItem="tbContract" Property="City" Title="Město" />
        <RadzenDataGridColumn TItem="tbContract" Property="item.tbUser.Name" Title="Jméno žáka" />
        <RadzenDataGridColumn TItem="tbContract" Property="item.tbUser.LastName" Title="Příjmení žáka" />
        <RadzenDataGridColumn TItem="tbContract" Property="LastChanged" Title="Datum Poslední úpravy" />  
        <RadzenDataGridColumn TItem="tbContract" Context="item" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="156px">
            <Template Context="item">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => Edit(item.Id))">
                </RadzenButton>
            </Template>
         </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
@*<table class="table table-primary">
    <tr style="gap : 20px">
        <th>Název Organizace</th>
        <th>Město</th>
        <th>Jméno žáka</th>
        <th>Příjmení žáka</th>
        <th>Datum Poslední úpravy</th>
    </tr>
    @if (contracts != null)
    {
        @foreach (var item in contracts)
        {
            <tr>
                @if (users != null && contract != null)
                {
                    <td>@item.OrgName</td>
                    <td>@item.City</td>
                    <td>@users.Where(value => value.ContractId == item.Id).Single().Name</td>
                    <td>@users.Where(value => value.ContractId == item.Id).Single().LastName</td>
                    <td>@item.LastChanged</td>
                }
            </tr>
        }
    }*@
@*</table>*@
@*<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Název Firmy</th>
            <th scope="col">Město</th>
            <th scope="col">Jméno žáka</th>
            <th scope="col">Příjmení žáka</th>
            <th scope="col">Poslední změna</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @if (contracts != null)
        {
            @foreach (var item in contracts)
            {
                <tr>
                    @if (users != null && contract != null)
                    {
                        ContractModel model = new();
                        model = EditContract(item);
                        <td>@item.OrgName</td>
                        <td>@item.City</td>
                        <td>@users.Where(value => value.ContractId == item.Id && value.Type != "Administrator").Single().Name</td>
                        <td>@users.Where(value => value.ContractId == item.Id && value.Type != "Administrator").Single().LastName</td>
                        <td>@item.LastChanged</td>
                        <td><button @onclick=@(args => Edit(item.Id))><i class="bi bi-eye"></i></button></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>*@
@*<SfGrid DataSource="@users">
    <GridColumns>
        <GridColumn Field="@nameof(UserModel.Name)" HeaderText="Jméno"></GridColumn>
        <GridColumn Field="@nameof(UserModel.LastName)" HeaderText="Příjmení"></GridColumn>
        <GridForeignColumn Field="@nameof(UserModel.ContractId)" HeaderText="Test" ForeignDataSource="@contracts" ForeignKeyValue="OrgName"></GridForeignColumn>
    </GridColumns>   
</SfGrid>*@
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    List<tbContract> contracts;
    ContractModel contract = new();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        contracts = dbService.GetContracts();

    }
    private async Task Edit(int ContractId)
    {
        var authState = await authenticationState;
        navMan.NavigateTo($"/contract/{ContractId}", true);
    }
    private ContractModel EditContract(ContractModel contract)
    {
        Type contractType = typeof(ContractModel);
        PropertyInfo[] properties = contractType.GetProperties();

        foreach (PropertyInfo property in properties)
        {     
            if (property.GetValue(contract)! == "" || property.GetValue(contract) == null)
            {
                property.SetValue(contract, "Neupraveno");
            }          
        }
        return contract;
    }
}
